#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
#url --url="http://ftp.jaist.ac.jp/pub/Linux/CentOS/7/os/x86_64"
url --url=http://172.21.67.200/installmirror/centos/7/
# Use graphical install
#graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network --bootproto=dhcp --ipv6=auto --activate
network --hostname=localhost.localdomain
#network  --hostname=localhost.localdomain
# Root password
rootpw --plaintext password
# System timezone
timezone Asia/Tokyo --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
part /biosboot --fstype=biosboot --size=1
part / --fstype=ext4 --grow --ondisk=sda --asprimary
#autopart --type=lvm
# Partition clearing information
zerombr
clearpart --all --initlabel --drives=sda
reboot
%packages
@core
kexec-tools
%end
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
